Content-type: text/html; charset=UTF-8

<!--#set var="titulek" value="Data byla uložena" -->
<!--#include file="/2016/en/header.html" -->

<meta http-equiv="refresh" content="3;/">
<div class="container">
  <h1>Your response has been recorded. Thank you.</h1>
  <p>Redirecting you <a href="/">back home</a> in 3 seconds…</p>
</div>
<!--#include file="/2016/en/footer.html" -->
