Content-type: text/html; charset=UTF-8

<!--#set var="titulek" value="Data byla uložena" -->
<!--#include file="/2016/hlavicka.html" -->

<meta http-equiv="refresh" content="3;/">
<div class="container">
  <h1>Data byla uložena</h1>
  <p>Přesměrováváme vás <a href="/">zpět</a> za 3 sekundy…</p>
</div>
<!--#include file="/2016/paticka.html" -->
