Content-type: text/html; charset=UTF-8

<!--#set var="titulek" value="LinuxDays" -->
<!--#include file="/2017/hlavicka.html" -->

<div class="container">
  <h1>Your response has been recorded. Thank you.</h1>
<!--#include file="/2017/paticka.html" -->
