Potvrzení účasti na Linuxdays
=============================

Jméno: {{ regdata.name[0] }}
E-mail: {{ regdata.email[0] }}
Telefon: {{ regdata.phone[0] }}
Objednané ubytování: {{ regdata.getlist('accomodation') }}
Potvrzené ubytování: {{ regdata.getlist('acconfirm') }}
Objednaná party: {{ regdata.social[0] }}

Název přednášky: {{ regdata.title[0] }}


