
You can see your ballot on this link:
https://www.linuxdays.cz/cgi-bin/ldform.py?formid=vote2017conf&b={{ data.regid }}

Thanks for your voting. We are looking forward to see you on the event!

-- 
LinuxDays Orgs

